{% extends 'index-base.html' %}
{% load static %}


{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="">
                <h2>Enter Text or Use Mic</h2>
                <br>
                <form action="" autocomplete="off" method="post" align="left">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" value="{{ text }}" name="sen" class="form-control" id="speechToText"
                               placeholder="Start typing...">
                        <button type="button" name="button" class="mic" onclick="record()">
                            <img src="{% static 'media/mic3.png' %}"
                                 height="32px" width="38px"/>
                        </button>
                        <div class="input-group-append">
                            <button name="button" onclick="convertSpeech()" class="btn btn-sm btn-primary"
                                    type="button"> Convert
                            </button>
                        </div>
                    </div>

                </form>
                <br>
                <ul class="td" id="list" align="center">

                </ul>

            </div>
        </div>
        <div class="col-md-4">
            <div class="">
                <div style="text-align:center"> &nbsp&nbsp
                    <button class="submit" style="display: none" onclick="playPause()">Play/Pause</button>
                    <video id="videoPlayer" width="400" height="233" preload="auto" autoplay>
                        <source src="{% static 'media/Hello.mp4' %}" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                           aria-controls="home" aria-selected="true">
                            Keywords
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                           aria-controls="profile" aria-selected="false">
                            Images
                        </a>
                    </li>
                    {#                <li class="nav-item">#}
                    {#                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"#}
                    {#                       aria-controls="contact" aria-selected="false">Contact</a>#}
                    {#                </li>#}
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="container">
                            <p>
                                If word is not listed in the list of predefined keywords, it will be <b>sign spelled</b>
                            </p>
                            <div class="col-12 container" style="height: 350px;">
                                <ul class="list-unstyled row">
                                    {% for keyword in keywords %}
                                        <li class="list-group-item border-0 col-sm-2 col-md-1 col-2 ">{{ keyword }}</li>
                                    {% endfor %}

                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                        <div class="row">

                            {% for img in img_list %}
                                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                                    <img
                                            src="/static/image-sign/{{ img }}"
                                            class="w-100 shadow-1-strong rounded mb-4"
                                            alt=""
                                    />
                                </div>

                            {% endfor %}
                        </div>

                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                </div>
            </div>
        </div>
    </div>




    <script>
        function convertSpeech() {

            let text = $("#speechToText").val();
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "{% url 'animation' %}",
                data: {sen: text},
                complete: function (data) {
                    play(data.responseJSON);
                }
            });
        }

        //webkitSpeechRecognition api for speech to text conversion
        function record() {
            navigator.mediaDevices.getUserMedia({audio: true})
                .then(function (stream) {
                    console.log('You let me use your mic!')
                })
                .catch(function (err) {
                    console.log('No mic for you!')
                });

            var recognition = new webkitSpeechRecognition();
            recognition.lang = 'en-IN';

            recognition.onresult = function (event) {
                console.log(event)
                document.getElementById('speechToText').value = event.results[0][0].transcript;
            }
            recognition.start();
        }

        function play(data) {
            var videoSource = new Array();
            var j = 0;
            let keywords = ""
            data.map(sign => {
                videoSource[j] = "/static/media/" + sign + ".mp4";
                keywords = keywords + `<li style="display: inline; margin-left: 10px; color: black" id="${j}">${sign}</li>`;
                j++;
            });

            $("#list").html(keywords);


            var i = 0;
            var videoCount = videoSource.length;

            function videoPlay(videoNum) {
                document.getElementById("list").getElementsByTagName("li")[videoNum].style.color = "#09edc7";
                document.getElementById("list").getElementsByTagName("li")[videoNum].style.fontSize = "xx-large";
                document.getElementById("videoPlayer").setAttribute("src", videoSource[videoNum]);
                document.getElementById("videoPlayer").load();
                document.getElementById("videoPlayer").play();

            }

            document.getElementById('videoPlayer').addEventListener('ended', myHandler, false);
            document.getElementById("list").getElementsByTagName("li")[0].style.color = "#09edc7";
            document.getElementById("list").getElementsByTagName("li")[0].style.fontSize = "xx-large";

            videoPlay(0); // play the video

            function myHandler() {
                document.getElementById("list").getElementsByTagName("li")[i].style.color = "#feda6a";
                document.getElementById("list").getElementsByTagName("li")[i].style.fontSize = "20px";
                i++;
                if (i === videoCount) {
                    document.getElementById("videoPlayer").pause();
                } else {
                    videoPlay(i);
                }
            }
        }

        /* LETS USE ONLY PLAY PAUSE BUTTON WITH 720 *420 ,IT FITS THE SCREEN
        function makeBig() {
            document.getElementById("videoPlayer").width = 560;
            document.getElementById("videoPlayer").height = 360;
        }

        function makeSmall() {
            document.getElementById("videoPlayer").width = 320;
            document.getElementById("videoPlayer").height = 180;
        }

        function makeNormal() {
            document.getElementById("videoPlayer").width = 420;
            document.getElementById("videoPlayer").height =280;
        }*/
        function playPause() {
            if (document.getElementById("videoPlayer").paused) {
                play();
            } else {
                document.getElementById("videoPlayer").pause();
            }
        }


    </script>


{% endblock %}
